html, body {
  height: 100%;
}

body {
  padding-top: 2.8%;
  padding-left: 0%;
}

/* Navbar styling  */

.navbar-brand {
  font-size: 175%;
}

.navbar-toggle.navbar-form {
  padding: 0px;
  margin-right: 5%;
  width: 60%;
}

.navbar {
  background-color: black;
  color: white;

  border-bottom: 1px solid black;

  font-size: 100%;
  font-family: "Verdana";
  color: white;
  text-shadow: -1px 0 #D07F31, 0 1px #D07F31, 1px 0 #D07F31, 0 -1px #D07F31;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

a {
  color: white;
}

a:hover {
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  color: white;
}

/* Wifi Symbol Styling  */
.wifi {
	padding: 5px;
  position: absolute;
  margin-top: .5%
}

.wifi, .wifi:before {
	display: inline-block;
	border: 15px double transparent;
	border-top-color: orange;
	border-radius: 50%;
}

.wifi:before {
	content: '';
	width: 0; height: 0;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.wifi {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}

/* Side bar styling */

input[type="text"]:focus {
  border-color: rgba(255, 169, 87, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 169, 87, 0.8);
  outline: 0 none;
}

.side-and-main {
  height: 100%;
}

.search-divider {
  width: inherit;
  position: absolute;
  height: 10%;
  z-index: 1;
  min-height: 60px;
  background-color: #B29E8A;
  border-bottom: 1px solid #ABA095;
}

.sidenav {
    overflow: auto;
    resize: horizontal;
    height: 100%;
    width: 35%;
    float: left;
    top: 5.5%;
    left: 0;
    overflow-x: hidden;
    padding-top: 0.5%;
    padding-right: 0.5%;
    background-color: #FFFDFA;
    border-right: 1px solid #ABA095;
}

.placeholder {
  margin-top: 80px;
}

.sidebar-form {
  width: 90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.form-control {
  padding-right: 12%;
}

span.glyphicon-search {
  top: 28px;
  left: 90%;
  font-size: 15px;
}

/* Styling for class elements */

.class {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  width: 95%;
  background-color: #eab6b6;
  height: 15%;
  min-height: 60px;
  border: 1px solid #ABA095;
  box-shadow: 2px 2px 4px #888888;
  padding-left: 4%;
  padding-top: 1%;
}

.class h1, h2 {
  display: inline-block;
  font-family: "Verdana";
  font-size: 200%;
  color: white;
  text-shadow: -1px 0 #D07F31, 0 1px #D07F31, 1px 0 #D07F31, 0 -1px #D07F31;
  margin: 0;
}

.class h2 {
  display: block;
  font-size: 100%;
}

.class-title {
  font-size: 35%;
}

.pin {
  float: right;
  color: black;
}

.pin:hover {
  color: red;
}

/* Styling for main panel */

.main-panel {
  overflow: auto;
  height: 100%;
  width: auto;
  float:left;
  padding-left: 5%;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    width: auto\9; /* ie8 */
}
