html, body {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /*overflow: hidden;*/

  padding-top: 4%;
  padding-left: 0;

  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/firestone.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  position: relative;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 20%;
}

header h1 {
  font-size: 70px;
  font-weight: lighter;

  font-family: "Verdana";
  text-align: center;

  color: white;
  /*text-shadow: -1.2px 0 #D07F31, 0 1.2px #D07F31, 1.2px 0 #D07F31, 0 -1.2px #D07F31;*/
}

header a.landing-component {
  font-size: 16px;
  vertical-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /*text-shadow: -1.2px 0 #D07F31, 0 1.2px #D07F31, 1.2px 0 #D07F31, 0 -1.2px #D07F31;*/

}

header a:hover, a:link {
  text-decoration: none;
  color: white;
}

footer {
  position: relative;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #2392ce;
  font-family: "Verdana", sans-serif;
  color: white;
}

#left-side {
  width: 50%;
  float: left;
}

#right-side {
  width: 50%;
  float: right;
}

.landing-btn {
  position: relative;
  display: inline-block;

  text-color: white;
  background-color: rgba(255,255,255,0.2);

  line-height: 50px;
  width: 135px;

  border: 1px solid #198874;
}

.landing-btn:hover {
  border: 1px solid white;
}

.login-btn {
  float: right;
  margin-right: 5%;
}

.about-btn {
  float: left;
  margin-left: 5%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 190px;
}

.main-ex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;

  border: 1px solid black;
}

#about {
  width: 100%;
  height: 100%;

  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(to bottom, #1cab91 , #2392ce);/*#198874*/;
}

p.onboard {
  font-size: 20px;
  font-weight: lighter;

  font-family: "Verdana";
  text-align: center;

  color: white;
  /*text-shadow: -1.2px 0 #D07F31, 0 1.2px #D07F31, 1.2px 0 #D07F31, 0 -1.2px #D07F31;*/
}

@media (max-width: 500px) {
  header h1, a {
    font-size: 42px;
    font-weight: lighter;

    font-family: "Verdana";
    text-align: center;

    color: white;
    /* text-shadow: -1.2px 0 #D07F31, 0 1.2px #D07F31, 1.2px 0 #D07F31, 0 -1.2px #D07F31; */
  }

  .landing-btn {
    position: relative;
    display: inline-block;

    text-color: white;
    background-color: rgba(255,255,255,0.2);

    line-height: 50px;
    width: 115px;

    border: 1px solid #198874;
  }

  #landing-body {
    overflow-x: visible;
  }
}

@media (max-height: 480px) {
  #landing-body {
    overflow-y: visible;
  }
}
