body, html {
  height: 100%;
  width: 100%;
  background-color: #f7eee1;
}

/* Navbar styling */

.navbar {
  background-color: #ff6a26;
  font-family: Verdana;
  border-bottom: 2px solid #162028
  -moz-box-shadow:    inset 0 0 20px #c14a13;
  -webkit-box-shadow: inset 0 0 20px #c14a13;
  box-shadow:         inset 0 0 20px #c14a13;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #162028;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #415768;
}

.form-control {
  max-width: 70%;
}

.form-control.mr-sm-2.ml-auto {
  width: 100%;
  max-width: 300%;
}

.form-inline.my-2.my-lg-0.ml-auto.d-lg-none.d-xl-none {
  margin-left: 0;
}

/* Sidebar and navbar paneling */

.side-and-main {
  overflow: hidden;
}

#sidebar {
  height: 100%;
  background-color: #162028;
  border-right: 1px solid black;
}

/* Main panel styling */
#main-panel {
  /* height: 100%; */
  border-left: 1px solid red;
  -moz-box-shadow:    inset 0 0 30px #ccc0af;
  -webkit-box-shadow: inset 0 0 30px #ccc0af;
  box-shadow:         inset 0 0 30px #ccc0af;
}

/* Tool bar styling */

#toolbar {
  height: 45px;
  background: linear-gradient(to bottom right,#ccbca9, #f2eae1);
  border: 1px solid #d8d1c9;
}

#filter-groups {
  margin-right: 15px;
  margin-left: 2px;
}

#create-groups {
  background-color: #19a8a5;
  border: 1px solid #0c7f7b;
}
