body, html {
  height: 100%;
  width: 100%;
}

/* Navbar styling */

.navbar {
  /*background-color: #198874;*/ /* ffc94c yellow */
  background: #20a08a; /*linear-gradient(to right, #1cab91 , #2392ce);*/
  font-family: 'Roboto', sans-serif;
  /*border-bottom: 2px solid #162028*/
  /*-moz-box-shadow:    inset 0 0 20px #c14a13;*/
  /*-webkit-box-shadow: inset 0 0 20px #c14a13;*/
  /*box-shadow:         inset 0 0 20px #c14a13;*/
}

.navbar-brand {
  font-family: "Arial";
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #162028;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #415768;
}

.form-control {
  max-width: 70%;
}

.form-control.mr-sm-2.ml-auto {
  width: 100%;
  max-width: 300%;
}

.form-inline.my-2.my-lg-0.ml-auto.d-lg-none.d-xl-none {
  margin-left: 0;
}

.form-invalid {
  border-color: red;
}

/* Sidebar and navbar paneling */

.side-and-main {
  overflow: hidden;
}

#command-start {
  color: white;
}

#sidebar {
  height: 100%;
  background-color: #162028;
  /*border-right: 1px solid black;*/
}

#search-box {
  height: 70px;
}

#desktop-course-search {
  background-color: #2f3f4c;
  border: 1px solid #3c5568;
  font-family: 'Roboto', sans-serif;
  color: #aebac4;
  max-width: 85%;
}

.search-divider {
  height: 1px;
  width: 80%;
  background-color: #3c5568;
}

.pinned-divider {
  height: 8px;
  width: 100%;
  background-color: #3c5568;
  margin: 0;
}

.people {
  font-size: 200vh;
}

#class-placement{
  height: 100%;
  overflow-y: auto;
  -moz-box-shadow:    inset 0 0 20px #070d11;
  -webkit-box-shadow: inset 0 0 20px #070d11;
  box-shadow:         inset 0 0 20px #070d11;
}

#class-placement-mobile{
  height: 100%;
  overflow-y: auto;
  -moz-box-shadow:    inset 0 0 20px #070d11;
  -webkit-box-shadow: inset 0 0 20px #070d11;
  box-shadow:         inset 0 0 20px #070d11;
}

.class {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid #3c5568;
  overflow: hidden;
  cursor: pointer;
}

.pinned-bar {
  height: 5%;
  width: 100%;
  border-bottom: 1px solid #3c5568;
  color: #aebac4;
  background-color: #3c5467;
  margin: 0;
  cursor: pointer;
}
.pinned-bar:hover {
  background-color: #33495a;
  border-bottom-color: #33495a;
}
.pinned-bar:hover ~ .pinned-divider{
  background-color: #33495a;
  border-top-color: #33495a;
}
.pinned-divider:hover {
  background-color: #33495a;
  border-top-color: #33495a;
}
.pinned-divider:hover ~ .pinned-bar {
  background-color: #33495a;
  border-bottom-color: #33495a;
}

.pin {
  float: right;
  color: #aebac4;
  background-color: Transparent;
  border: none;
  outline: none;
  height: auto;
  width: 10%;
  text-align: left;
  cursor: pointer;
}

/* TODO: add pins to a column row in bootstrap... */
.pin:hover {
  color: red;
  cursor: pointer;
}

.pin:focus {
  outline: none;
  cursor: pointer;
}

.pinned {
  color: red;
  cursor: pointer;
}

.pinned:hover {
  color: #aebac4;
  cursor: pointer;
}

.pinnedCourse {
  background-color: #162129;
  cursor: pointer;
}


.class:hover {
  background-color: #263744;
  cursor: pointer;
}

.class:focus {
  background-color:black;
  cursor: pointer;
}

.class-title {
  /*background-color: #2f3f4c;*/
  color: #aebac4;
  height: 20%;
  padding-left: 1%;
  padding-right: 3%;
  border-radius: 5%;
}

.track {
  background-color: #303f4b;
  cursor: default;
}

/* Main panel styling */
#main-panel {
  /* height: 100%; */
  background-color: #fafafa; /* #fcf4e3 yellow fade */
  /*border-left: 1px solid #929292;*/
  -moz-box-shadow:    inset 0 0 30px #e8d4b9;
  -webkit-box-shadow: inset 0 0 30px #e8d4b9;
  box-shadow:         inset 0 0 30px #e8d4b9;
}

#main-panel-content {
  height: 100%;
  padding-left: 4%;
  padding-right: 6%;
  padding-bottom: 10%;
  overflow-y: auto;
}

.center-icon {
  transform: translateX(-30%);
}

.icon-top {
  width: 10%;
  font-size: 5vw;
}

.onboarding {
  display: none;
}
.dashboard {
  display: inline;
}
.onboard-well {
  height: 52%;
  margin-top: 2%;
  border: 1px solid #212529;
  border-radius: 8px;
  background-color: #bec5cc;
  overflow: scroll;
}

.horizontal-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.group-shortcut {
  height: 80%;
  width: 30%;
  margin-top: 2%;
  border: 1px solid #212529;
  border-radius: 8px;
  background-color: #bec5cc;
  margin-left: 2%;
  margin-bottom:0;
  padding-left: 2%;
  padding-right: 2%;
  padding-top:1%;
  display:inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: normal;
}

.dash-header{
  font-size: 2vw;
  color: white;
  height: 6%;
  background-color: #162129;
  cursor: pointer;
}
.dash-header:hover{
  background-color: #263744;
}

.dash-user-created {
}

.dash-user-joined {
}

.panel > .panel-heading {
    background-image: none;
    background-color: #162028;;
    color: white;
}

.panel > .panel-body {
    background-image: none;
    background-color: #ffc94c;;;
    color: white;
}

/* Tool bar styling */

#toolbar {
  height: 45px;
  background: #162129;
}

#filter-groups {
  margin-right: 15px;
  margin-left: 2px;
  background-color: #162129;
  border: 1px solid #162129;
  opacity: .7;
  border-radius: 0rem;
}

#create-groups {
  background-color: #162129;
  border: 1px solid #162129;
  opacity: .7;
  border-radius: 0rem;
}

/* Group styling */
.group-container {
  width: 100%;
  height: 40%;
  padding-top: 3%;
  padding-bottom: .5%;
  padding-left: 5%;
  padding-right: 7%;
  word-wrap: break-word;
}
.group {
  color: #5b4f43;
  font-weight: bold;
  /* text-shadow: -1px 0 #5b4f43, 0 1px #5b4f43, 1px 0 #5b4f43, 0 -1px #5b4f43; */
  font-family: 'Roboto', sans-serif;
  padding-left: 2%;
  padding-top: 5.5%;
  height: 95%;
  width: 100%;
  margin-top: 0%;
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 4px #888888;
  border: 1px solid lightgrey;
}

.group-header-text {
  font-size: 2.9vh;
}

.group-desc-text {
  font-size: 2.3vh;
  display:inline;
  width: 100%;
  max-height: 40%;
  padding-left: 1.5%;
  position: absolute;
  top: 20%;
  left: 0;
}

#root {
  width: 100%;
}

.group-header {
  color: black;
  width: 100%;
  height: 18%;
  font-size: 150%;
  /*border-bottom: 1px solid black;*/
  padding-left: 1.5%;
  padding-top: .5%;
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: #162129;*/
}

.group-footer {
  font-size: 2.3vh;
  width: 100%;
  height: 18%;
  /*border-bottom: 1px solid black;*/
  padding-left: 1.5%;
  position: absolute;
  top: 85%;
  left: 0;
  /*background-color: #162129;*/
}

.chat {
  margin-top:10%;
  position: absolute;
  bottom: 5%;
  right: 21%;
  float: right;
  width: 16%;
  height: 18%;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #162129;
  cursor: pointer;
}

.join-del-leave {
  margin-top:10%;
  position: absolute;
  bottom: 5%;
  right: 3%;
  float: right;
  width: 16%;
  height: 18%;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #162129;
  cursor: pointer;
}

.join-chat:hover {
  background-color: #303f4b;
}

.delete-leave:hover {
  background-color: #303f4b;
}

@media screen and (max-width: 767px) {
    .main-panel {
        width: 100%;
    }

    .join {
      right: 40%;
    }
}

.group-container:hover {
  padding-top: 3%;
  padding-bottom: .5%;
  padding-left: 5%;
  padding-right: 7%;
}

/* Mobile view  */

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {*/
  /*.desktop-view {*/
    /*display:none;*/
  /*}*/
  /*.mobile-view {*/
    /*display:block;*/
  /*}*/
/*}*/

/*@media only screen and (min-width: 768) {*/
  /*.mobile-view {*/
    /*display:none;*/
  /*}*/
  /*.desktop-view {*/
    /*display:block;*/
  /*}*/
/*}*/

@media screen and (min-width: 0px) and (max-width: 400px) {
  /*#mobile-view { display: block; }*/  /* show it on small screens */
}

@media screen and (min-width: 401px) {
  /*#mobile-view { display: none; }*/   /* hide it elsewhere */
}


[aria-expanded="false"] .pinnedbar__icon--open {
    display: block;
}
[aria-expanded="false"] .pinnedbar__icon--close {
    display: none;
}
[aria-expanded="true"] .pinnedbar__icon--open {
    display: none;
}
[aria-expanded="true"] .pinnedbar__icon--close {
    display: block;
}

[aria-expanded="false"] .dashcreate__icon--open {
    display: block;
}
[aria-expanded="false"] .dashcreate__icon--close {
    display: none;
}
[aria-expanded="true"] .dashcreate__icon--open {
    display: none;
}
[aria-expanded="true"] .dashcreate__icon--close {
    display: block;
}

[aria-expanded="false"] .dashjoin__icon--open {
    display: block;
}
[aria-expanded="false"] .dashjoin__icon--close {
    display: none;
}
[aria-expanded="true"] .dashjoin__icon--open {
    display: none;
}
[aria-expanded="true"] .dashjoin__icon--close {
    display: block;
}

.share-link{
  float:right;
  background: none;
  border: none;
}

.share-link:hover {
  color: #20a08a;
}

#text-link {
  min-width: 80%;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
