<html>
  <head>
    <title>TigerConnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/landing.css'>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.localscroll@2.0.0/jquery.localScroll.min.js"></script>
    <script src="landing.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <header class="landing-component">
      <h1>TigerConnect</h1>
      <br>
      <img src="/images/tclogo.png" class="logo" />
      <br><br>
      <div id="left-side">
        <a href="/api/auth/login" class="landing-component landing-btn login-btn">Login</a>
      </div>
      <div id="right-side">
        <a href="#about" class="landing-component landing-btn about-btn">About</a>
      </div>
    </header>

    <div id="about">
      <p class="onboard">Connect with other students on campus to collaborate on problem sets.</p>
      <p class="onboard">Join an existing group, or create your own.</p>
      <br>
      <img src="/images/main.png" class="mx-auto main-ex" />
    </div>

    <footer class="page-footer font-small blue pt-4 mt-4">
      <p class="text-center">Created at odd hours by Tajreen Ahmed, Jessica Edouard, Kevin Finch, Lillian Meng</p>
    </footer>
  </body>
</html>
