<html>
  <head>
    <title>TigerConnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/main.css'>
    <script src="index.js"></script>
    <script src="createGroup.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <!-- Hidden, stored values -->
    <input id="netid" type="hidden" value={{netid}}>
    <input id="courseid" type="hidden" value="">
    <input id="coursename" type="hidden" value="">

    <!-- Desktop View -->
    <div class="container-fluid side-and-main h-100 p-0">
          <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
            <a class="navbar-brand d-none d-sm-block" href="/main">TigerConnect</a>
            <a class="navbar-brand d-sm-none d-lg-none d-xl-none" href="#">TC</a>
            <form class="form-inline my-1 mr-2 my-lg-0 ml-auto d-lg-none d-xl-none">
              <input class="form-control mr-sm-2 ml-auto" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item  d-none d-sm-block">
                  <span class="nav-link">Hey {{netid}}!</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-bell"></i></span> Notifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api/auth/logout"><i class="fas fa-power-off"></i> Logout</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- TODO: Mobile design -->

          <!-- Desktop View -->
      <div class="row" id="desktop-view">
        <div class="col-3 pr-0" id="sidebar">
          <div class="container-fluid p-0">
            <div class="row" id="search-box">
              <input type="search" onkeyup="searchCourses(this.value)" id="desktop-course-search" class="mx-auto my-auto form-control" placeholder="Find your courses! (E.g. MAT103!)" aria-label="courses">
            </div>
            {{!-- <div class="row search-divider ml-4"></div> --}}

            <!-- Pinned courses -->
            <div class="pinned-bar" data-toggle="collapse" data-target=".demo" style="color:white; background-color:#303f4b;" onclick="getPinned()">Pinned</div>
            <div class="demo collapse row vertical-center" id="pinned-placement">
              <div class="container-fluid p-0">
              </div>
            </div>

            <!-- Searched courses -->
            <div class="row vertical-center" id="class-placement">
              <div class="container-fluid p-0">
              </div>
            </div>

          </div>
        </div>

        <div class="col-9" id="main-panel">
          <div class="container-fluid p-0">
            <div class="row" id="toolbar">
              <button type="button" class="ml-auto btn btn-primary" data-toggle="modal" data-target="#createGroupModal" id="create-groups" aria-disabled="true"><i class="fas fa-plus-circle"></i> Create Group</button>
              <button type="button" class="mr-10 btn btn-secondary" id="filter-groups" aria-disabled="true"><i class="fas fa-filter"></i> Filter Groups</button>
            </div>
            <div class="row" id="main-panel-content">
              {{!-- <div class="group-container">
                <div class="group slideUp">
                  <div class="group-header">
                    <p class="group-header-text">lol mathmathmath</p>
                  </div>
                  <button class="join">JOIN</button>
                </div>
              </div> --}}
            </div>
          </div>
        </div>
      </div>




    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="createGroupLabel">Create Group for <span id="currentCourse">MAT104</span></h1>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="courseEvent-title">Group Title</label>
                <input type="text" class="form-control" id="courseEvent-title" aria-describedby="emailHelp" placeholder="Title">
                <small class="form-text text-muted">Grab people's attention with an interesting title!</small>
              </div>
              <div class="form-group">
                <label for="courseEvent-location">Location</label>
                <input type="text" class="form-control" id="courseEvent-location" placeholder="Location">
                <small class="form-text text-muted">Where do you want to meet?</small>
              </div>
              <div class="form-group">
                <label for="inputTime">Time</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" id="courseEvent-time"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                <small class="form-text text-muted">When do you want to meet?</small>
              </div>
              <div class="form-group">
                <label for="textarea">Group Description</label>
                <textarea class="form-control" id="courseEvent-description" rows="3"></textarea>
                <small class="form-text text-muted">Anything else?</small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info" onclick="createGroup(); refreshGroups()" data-dismiss="modal">Create Group</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
