<html>
  <head>
    <title>TigerConnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/main.css'>
    <script src="index.js"></script>
    <script src="createGroup.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <!-- Hidden, stored values -->
    <input id="netid" type="hidden" value={{netid}}>
    <input id="courseid" type="hidden" value="">
    <input id="coursename" type="hidden" value="">

    <div class="container-fluid side-and-main h-100 p-0">
      <!-- Navbar - responsive for desktop and mobile -->
      <nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
        <a class="navbar-brand d-none d-sm-block" href="/main">TigerConnect</a>
        <a class="navbar-brand d-xs-none d-sm-none d-lg-none d-xl-none" href="#">TC</a>
        <form class="form-inline my-1 mr-2 my-lg-0 ml-auto d-md-none d-lg-none d-xl-none">
          <!-- Search bar -->
          <input type="search" onkeyup="searchCourses(this.value)" class="form-control mr-sm-2 ml-auto" placeholder="Search courses!" aria-label="Search">
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item  d-none d-sm-block">
              <span class="nav-link">Hey {{netid}}!</span>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-bell"></i></span> Notifications</a>
            </li> --}}
            {{!-- <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
            </li> --}}
            <li class="nav-item">
              <a class="nav-link" href="/main">Dashboard</a>
            <li class="nav-item">
              <a class="nav-link" href="/api/auth/logout"><i class="fas fa-power-off"></i> Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- TODO: Mobile design -->
      <div class="row d-md-none d-lg-none d-xl-none" id="mobile-view">

        <!-- Sidebar -->
        <div class="col" id="sidebar">
          <!-- Search bar: see navbar above -->

          <!-- Pinned courses -->
          <div class="pinned-bar row vertical-center mr-0" data-toggle="collapse" data-target=".collapsePinned" aria-expanded="false" aria-controls="collapsePinned" href="" onclick="">
            <h5 class="pt-1 mt-2 my-auto" style="margin-left: 3%;">
              <span class="pinnedbar__icon pinnedbar__icon--open">
                <i class="fa fa-caret-right"></i> Pinned
              </span>
              <span class="pinnedbar__icon pinnedbar__icon--close">
                <i class="fa fa-caret-down"></i> Pinned
              </span>
            </h5>
          </div>
          <div class="pinnedSection" style="max-height:35%; overflow:scroll;">
            <div class="collapsePinned collapse row vertical-center" id="pinned-placement-mobile">
              <div class="container-fluid p-0">
              </div>
            </div>
          </div>
          <div class="row pinned-divider"></div>

          <!-- Searched courses -->
          <div class="row vertical-center" id="class-placement-mobile">
            <div class="container-fluid p-0">
            </div>
          </div>

        </div>
        <!-- END sidebar -->

        <!-- TODO: Main panel -->

      </div>
      <!-- END mobile design -->

      <!-- Desktop View -->
      <div class="row" id="desktop-view">

        <!-- Sidebar -->
        <div class="col-3 pr-0" id="sidebar">
          <div class="container-fluid p-0">

            <!-- Search bar -->
            <div class="row" id="search-box">
              <input type="search" onkeyup="searchCourses(this.value)" id="desktop-course-search" class="mx-auto my-auto form-control" placeholder="Find your courses! (e.g. MAT103)" aria-label="courses">
            </div>
            {{!-- <div class="row search-divider ml-4"></div> --}}

            <!-- Pinned courses -->
            <div class="pinned-bar row vertical-center mr-0" data-toggle="collapse" data-target=".collapsePinned" aria-expanded="false" aria-controls="collapsePinned" href="" onclick="">
              <h5 class="pt-1 pl-1 mt-2 my-auto" style="margin-left: 3%;">
                <span class="pinnedbar__icon pinnedbar__icon--open">
                  <i class="fa fa-caret-right"></i> Pinned
                </span>
                <span class="pinnedbar__icon pinnedbar__icon--close">
                  <i class="fa fa-caret-down"></i> Pinned
                </span>
              </h5>
            </div>
            <div class="pinnedSection" style="max-height:35%; overflow-x: hidden; overflow-y: scroll">
              <div class="collapsePinned collapse vertical-center" id="pinned-placement">
                <div class="container-fluid p-0">
                </div>
              </div>
            </div>
            <div class="row pinned-divider"></div>

            <!-- Searched courses -->
            <div class="vertical-center" id="class-placement" style="overflow-x:hidden; overflow-y: scroll">
              <div class="container-fluid p-0">
              </div>
            </div>

          </div>
        </div>
        <!-- END sidebar -->

        <!-- Main panel -->
        <div class="col-9" id="main-panel">
          <div class="container-fluid p-0">

            <!-- Toolbar -->
            <div class="row" id="toolbar">
              <div class="col-sm my-auto" style="margin-left:2%;">
                <h5 class="my-auto" style="color:#b9bcbe; font-size:24px;" id="toolbar-coursename"></h5>
              </div>
              <button type="button" class="ml-auto mr-4 btn btn-primary" data-toggle="modal" data-target="#createGroupModal" id="create-groups" aria-disabled="true" style="visibility: hidden"><i class="fas fa-plus-circle"></i> Create Group</button>
              {{!-- <button type="button" class="mr-10 btn btn-secondary" id="filter-groups" aria-disabled="true"><i class="fas fa-filter"></i> Filter Groups</button> --}}
            </div>

            <!-- Inner content, e.g. onboarding, dashboard, cards -->
            <div id="main-panel-content">

              <!-- Dashboard -->
              <div class="dashboard">
                <div class="row text-center" style="height:15%;">
                  <h1 class="text-center mx-auto" style="font-size:3.5vw; padding-top:5%; padding-bottom:0%;">Welcome to TigerConnect!</h1>
                </div>

                <div class="row dash-header" style="margin-top:5%;" data-toggle="collapse" data-target=".collapseDashCreate" aria-expanded="false" aria-controls="collapseDashCreate">
                  <span class="dashcreate__icon dashcreate__icon--open my-auto" style="font-size:3vw;padding-left:2%;">
                    <i class="fa fa-caret-right"></i>
                  </span>
                  <span class="dashcreate__icon dashcreate__icon--close my-auto" style="font-size:3vw;padding-left:2%;">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <h4 class="text-center mx-auto my-auto">Groups You've Created</h4>
                </div>
                <div class="row collapse collapseDashCreate" id="dash-user-created" style="overflow: hidden">
                  <!-- POPULATE -->
                </div>
                <!-- temporarily abandoned horizontal scroll -->
                {{!-- <div class="horizontal-scroll" id="dash-user-created" style="height:25%;">
                  <div class="group-shortcut">
                    <h5 style="font-size: 2vw;">COS 333</h5>
                    <p>title of group that you created woo woo nice this is really long</p>
                    <div class="members">
                      <p>6 members</p>
                    </div>
                  </div>
                </div> --}}
                <div class="row mt-5 dash-header" data-toggle="collapse" data-target=".collapseDashJoin" aria-expanded="false" aria-controls="collapseDashJoin">
                  <span class="dashjoin__icon dashjoin__icon--open my-auto" style="font-size:3vw;padding-left:2%;">
                    <i class="fa fa-caret-right"></i>
                  </span>
                  <span class="dashjoin__icon dashjoin__icon--close my-auto" style="font-size:3vw;padding-left:2%;">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <h4 class="text-center mx-auto my-auto">Groups You've Joined</h4>
                </div>
                <div class="row collapse collapseDashJoin" id="dash-user-joined"  style="overflow: hidden">
                  <!-- POPULATE -->
                </div>
                <!-- More whitespace at bottom of page -->
                <div class="row" style="height:100px"></div>
              </div>

              <!-- Onboarding -->
              {{!-- <div class="row h-25 text-center">
                <h1 class="text-center mx-auto" style="font-size:3.5vw; padding-top:7%; padding-bottom:0%; height:12%;">Welcome to TigerConnect!</h1>
              </div>
              <div class="row h-75 text-center">
                <div class="col-3 my-4 onboard-well" style="margin-left: 8%; overflow: hidden">
                  <div class="icon-top mx-auto">
                    <i class="far fa-hand-point-up my-4 center-icon"></i>
                  </div>
                  <h4 style="font-size: 2vw;">Choose the course you're enrolled in on the left.</h4>
                </div>
                <div class="col-3 my-4 onboard-well" style="margin-left:4%; margin-right:4%; overflow: hidden">
                  <div class="icon-top mx-auto">
                    <i class="fas fa-search-plus my-4 center-icon"></i>
                  </div>
                  <h4 style="font-size: 2vw;">Look through for groups that you wish to join.</h4>
                </div>
                <div class="col-3 my-4 onboard-well" style="margin-right: 8%; overflow: hidden">
                  <div class="icon-top mx-auto">
                    <i class="fas fa-pencil-alt my-4 center-icon"></i>
                  </div>
                  <h4 style="font-size: 2vw;">Join a group or create your own!</h4>
                </div>
              </div> --}}
              <!-- END onboarding -->

            </div> <!-- END inner content -->
          </div>
        </div> <!-- END main panel -->
      </div>
      <!-- END desktop view -->

      <!-- Create Groups Modal -->
      <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="createGroupLabel">Create Group for <span id="currentCourse">MAT104</span></h1>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="courseEvent-title">Group Title (required)</label>
                  <input type="text" class="form-control" id="courseEvent-title" aria-describedby="emailHelp" placeholder="Title">
                  <small class="form-text text-muted">Grab people's attention with an interesting title!</small>
                </div>
                <div class="form-group">
                  <label for="courseEvent-location">Location</label>
                  <input type="text" class="form-control" id="courseEvent-location" placeholder="Location">
                  <small class="form-text text-muted">Where do you want to meet?</small>
                </div>
                <div class="form-group">
                  <label for="inputTime">Time</label>
                              <div class='input-group date' id='datetimepicker1'>
                                  <input type='text' class="form-control" id="courseEvent-time"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker1').datetimepicker();
                          });
                      </script>
                  <small class="form-text text-muted">When do you want to meet?</small>
                </div>
                <div class="form-group">
                  <label for="textarea">Group Description</label>
                  <textarea class="form-control" id="courseEvent-description" rows="3"></textarea>
                  <small class="form-text text-muted">Anything else?</small>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-info" onclick="createGroup(); refresh('main-panel-content')">Create Group</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END Create Groups Modal -->

  </body>
</html>
